@import url('https://fonts.googleapis.com/css?family=Mina:700');

html {
    height: 100%;
}

body {
    font-family: 'Mina', sans-serif;
}

.masthead {
    position: relative;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 3rem;
    background: linear-gradient(0deg, #888, #000);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
}

.masthead .logo {
    width: 95px;
    height: 95px;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: 9rem;
        padding-bottom: 4rem;
    }
    .masthead .masthead-content .masthead-heading {
        font-size: 6rem;
    }
    .masthead .logo {
        width: 150px;
        height: 150px;
    }
}
