body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:not(pre) > code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #eeeeee;
  /* border-radius: 4px; */
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  font-size: 95%;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  overflow-x: auto;
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footnotes {
  font-size: 80%;
}

/**
 * Breadcrumb
 */
 nav.breadcrumb {
  padding: 0.8em 0;
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li::before {
  display: inline-block;
  margin: 0 0.4em 0 0.2em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
}

nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}


/**
 * Default Table
 */
table[class=""] {
  border-spacing: 0;
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
}

table[class=""] th {
  text-align: center !important;
}

table[class=""] th, table[class=""] td {
  padding: .25rem 1rem;
  border-bottom: #000 solid 1px;
}

table[class=""] tr:last-child td {
  border-bottom: none;
}
