<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.12.0/css/tachyons.min.css" integrity="sha256-MgEf5i1a74lVzhT+1R6mBbWCUeUaxC8sQTaN5GY+CoI=" crossorigin="anonymous">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />

{{ if .HasShortcode "yasgui" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@triply/yasgui@4.2.28/build/yasgui.min.css" integrity="sha256-A3GoNEwLxNgSgJId9TfBhs0z2v/yQGs2SMODxITPBK4=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@triply/yasgui@4.2.28/build/yasgui.min.js" integrity="sha256-isE1S3USgfVU5Y5DcPDaOTnV5uKkrM0euvSbugTEEuo=" crossorigin="anonymous"></script>
<script>
  const yasgui = {};
  function setYasguiQuery(yasguiId, tabName, query) {
    let yasguiInstance = yasgui[yasguiId];
    let tab = yasguiInstance.getTab(tabName);
    if (!tab) {
      tab = yasguiInstance.addTab(true, {
         ...Yasgui.Tab.getDefaults(),
         requestConfig: yasguiInstance.config.requestConfig,
         name: tabName,
         id: tabName });
    }
    tab.setQuery(query);
    tab.yasqe.query();
    document.getElementById("yasgui-" + yasguiId).scrollIntoView();
  }
</script>
<style>
  .yasr table.dataTable tbody td {
    padding: 2px 4px;
    font-size: 85%;
  }
</style>
{{ end }}
