<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.12.0/css/tachyons.min.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/github-gist.min.css" />

{{ if .HasShortcode "yasgui" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@triply/yasgui@4.2.3/build/yasgui.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@triply/yasgui@4.2.3/build/yasgui.min.js"></script>
<script>
  const yasgui = {};
  function setYasguiQuery(yasguiId, tabName, query) {
    let yasguiInstance = yasgui[yasguiId];
    let tab = yasguiInstance.getTab(tabName);
    if (!tab) {
      tab = yasguiInstance.addTab(true, {
         ...Yasgui.Tab.getDefaults(),
         requestConfig: yasguiInstance.config.requestConfig,
         name: tabName,
         id: tabName });
    }
    tab.setQuery(query);
  }
</script>
<style>
  .yasr table.dataTable tbody td {
    padding: 2px 4px;
    font-size: 85%;
  }
</style>
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}
