<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="schema: https://schema.org/ og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />

  {{ partial "meta.html" . }}

  <title>{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ $sitetitle := .Site.Title }}
  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $sitetitle }}" />
  {{ end }}
  {{ partial "head_includes.html" . }}
</head>

<body lang="{{ .Site.LanguageCode }}" class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns" typeof="schema:WebSite">
  <section id="main">

      <h1 id="title" class="f1 lh-title bb">
        {{ .Site.Params.TitleLogo | safeHTML }} <ruby>{{ .Site.Title }} <rp>(</rp>
          <rt>メタデータ萌え</rt>
          <rp>)</rp>
        </ruby>
      </h1>

      {{ with .Content -}}
      <section>
        {{ . }}
      </section>
      {{ end -}}

      <section>
        <h2 class="f2">Projects</h2>
        <ul class="list pl3">
          <!-- pages -->
          <!-- prettier-ignore -->
          {{ range .Site.Params.menu }}
          <li class="mv3">
            <a class="f3 b pa1 black" href="{{ .url }}">{{ .name }}</a>
            <p>{{ .description }}</p>
          </li>
          <!-- prettier-ignore -->
          {{ end }}
        </ul>
      </section>

  </section>

  {{ partial "footer.html" . }}
</body>

</html>