<div id="yasgui-{{ .Get "id" }}"></div>

{{ $endpointOptions := slice }}
{{ range split (.Get "endpoint-options") "," }}
{{ if . }}
{{ $endpointOptions = $endpointOptions | append (dict "endpoint" . ) }}
{{ end }}
{{ end }}

<script>
  yasgui["{{ .Get "id" }}"] = new Yasgui(document.getElementById("yasgui-{{ .Get "id" }}"), {
    requestConfig: {{ dict "endpoint" (.Get "endpoint") }},
    persistenceId: "{{ .Get "id" }}",
    copyEndpointOnNewTab: false,
    endpointCatalogueOptions: {
      getData: function () {
        return {{ $endpointOptions }}
      }
    },
    yasqe: {
      {{ with .Get "default-query" }}
      value: {{ . }}
      {{ end }}
    },
  });
</script>
{{ if and (.Get "endpoint") (eq (len $endpointOptions) 0) }}
<style>
  #yasgui-{{ .Get "id" }} .yasgui .autocompleteWrapper {
    display: none !important;
  }
</style>
{{ end }}